
section {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
}

header {
    color: white;
    font-family: 'Crimson Text', serif;
    align-self: flex-end;
}

h1 {
    margin: 0;
    font-size: 72px;
    padding: 22px;
    font-weight: normal;
}