section.header {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    color: white;
    font-family: 'Crimson Text', serif;
    flex: 1;
}

h1 {
    margin: 0;
    font-size: 72px;
    padding: 22px;
    font-weight: normal;
}

.cta {
    text-align: center;
    align-self: flex-center;
    margin: 48px;
}
