.enter {
    opacity: 0.01;
    transform: scale(0.01);
}
.enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s, transform .5s;
}

.leave {
    opacity: 1;
    transform: scale(1);
}

.leave-active {
    opacity: 0.01;
    transform: scale(0.01);
    transition: opacity .5s, transform .5s;
}
