.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: background-color .5s;
    padding: 0 48px;
}

.top,
.bottom {
    display: flex;
    align-items: center;
    height: 48px;
    align-self: center;
}

.inside {
    flex: 1;
    width: 100%;
    align-self: center;
    max-width: calc(100vh * (4896 / 3264));
    position: relative;
    border: 1px solid black;
}
