.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.8s;
    overflow: hidden;
    padding: 0 42px;
}

.top,
.bottom {
    display: flex;
    align-items: center;
    height: 42px;
    align-self: center;
}

.inside {
    flex: 1;
    width: 100%;
    align-self: center;
    max-width: calc((100vh - 42px) * (4896 / 3264));
    position: relative;
}
