.layout > *:last-child {
    position: absolute;
    right: 0;
    top: 0;
}
.layout {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.map {
    transition: transform 0.7s;
}

.map.zoom {
    transform: scale(4);
}
