@value darkBackgroundColor, lightBackgroundColor from '../../../constants.css';

.button {
    position: relative;
    border-radius: 32px;
    border: 2px solid lightBackgroundColor;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: lightBackgroundColor;
    font-size: 1.3em;
    padding: 12px 32px;
    font-weight: bold;
    transition: border-color 1s;
    background: darkBackgroundColor;
    background-clip: padding-box;
}
.button:hover {
    border-color: transparent;
}
.button::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 32px;
    content: '';
    z-index: -1;
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );
    animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0deg) invert(0%);
    }
    50% {
        filter: hue-rotate(180deg) invert(30%) brightness(120%);
    }
    to {
        filter: hue-rotate(360deg) invert(0%);
    }
}
