
.modale {
    position: absolute;
    background: white;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: scale(0.01);
    opacity: 0;
    transition: transform 0.7s, opacity 0.7s;
}

.modale.opened {
    transform: scale(1);
    opacity: 1;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    z-index: 2;
    margin-right: 8px;
    background: transparent;
    border: none;
    display: block;
    font-size: large;
    cursor: pointer;
}

