.pictures {
    position: relative;
    height: 100%;
}
.picture {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*animation: zoom-in 10s linear infinite alternate-reverse;*/
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
}

.picture.show {
    opacity: 1;
}
