.overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 2;
    border: none;
    display: block;
    font-size: 1.3em;
    background-color: transparent;
    cursor: pointer;
}

.close-button:hover {
    font-weight: bold;
}

.fullscreen .close-button {
    right: -42px;
    color: #fdfaf2;
}

.modale {
    position: relative;
    max-width: 600px;
    max-height: 100%;
    border: 1px solid black;
}

.fullscreen {
    max-width: none;
    flex: 1;
    width: 100%;
}
.enter {
    opacity: 0.01;
    transform: scale(0.01);
}
.enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s, transform 0.8s;
}

.leave {
    opacity: 1;
    transform: scale(1);
}

.leave-active {
    opacity: 0.01;
    transform: scale(0.01);
    transition: opacity 0.5s, transform 0.5s;
}
