article {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}
article > * {
    flex: 1;
}

h1 {
    font-family: 'Crimson Text', serif;
}

.content {
    overflow: auto;
    padding: 16px 32px;
    background-color: white;
    max-height: calc(100% - 32px);
    max-width: 600px;
    z-index: 1;
    flex: 1;
}

.body {
    white-space: pre-line;
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
}
