article {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #2d2f32;
}

h1 {
    font-family: 'Crimson Text', serif;
}

.pictures {
    will-change: width;
    position: absolute;
    width: calc((100vh - 42px) / (4896 / 3264));
    transition: width 0.6s;
    top: 0;
    bottom: 0;
    left: 0;
}

.pictures:not(.fullscreen):hover {
    width: calc(0.9 * (100vh - 42px) / (4896 / 3264) + 10%);
}
.pictures.fullscreen {
    width: 100%;
}
.pictures:not(.fullscreen):hover + .content-pictures {
    transform: translateX(15%);
    opacity: 0.5;
    min-width: none;
}
.pictures.fullscreen + .content-pictures {
    transform: translateX(90%);
    opacity: 0;
    min-width: none;
}

.content-pictures {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - ((100vh - 42px) / (4896 / 3264)));
    transition: transform 0.6s, opacity 0.6s;
    will-change: transform, opacity;
}
.content-alone {
    align-self: center;
}
.content-alone,
.content-pictures {
    padding: 16px 32px;
    background: #fdfaf2;
    overflow: auto;
}
.body {
    #fdfaf2-space: pre-line;
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
}
