article {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

h1 {
    font-family: 'Crimson Text', serif;
}

.pictures {
    flex: 1;
    transition: all .5s;
    cursor: pointer;
}

.pictures:hover {
    flex: 2;
}

.content {
    flex-shrink: 0;
    overflow: auto;
    padding: 16px 32px;
    max-height: calc(100% - 32px);
    min-width: 50%;
    max-width: 600px;
    z-index: 1;
    flex: 2;
}

.body {
    white-space: pre-line;
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
}
