@import 'normalize.css';

body {
    box-sizing: border-box;
    background-color: #fdfaf2;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: inherit;
}
h1,
h2,
h3 {
    font-family: 'Crimson Text', serif;
}
