.pastille {
    border-radius: 100%;
    background-color: white;
    position: relative;
    padding: 16px;
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color 0.7s;
    border: 2px solid black;
}


.pastille strong {
    font-size: large;
}

.pastille:hover {
    border-color: transparent;
    background-clip: padding-box;
}

.pastille:hover::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 32px;
    content: '';
    z-index: -1;
    background: linear-gradient(45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );
    animation: hue-rotate 2s linear infinite;
}

@keyframes hue-rotate { from { filter: hue-rotate(0deg); } to { filter:hue-rotate(360deg); }  }